*{
	margin:0;
	padding:0;
	color:#522a06;
	font-size:12px;
	font-family:'宋体';
}
a{
	color:#522a06;
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
body{
	background-image: url(../images/chunse.jpg);
	background-repeat: repeat;
}

#header{
	height:200px;
	position: relative;
	left:100px;
}
#nav{
	height:40px;
	width:1025px;
	background-image: url(../images/muwentu.jpg);
	background-repeat: repeat-x;
}
#banner{
	position:relative;
}
.nav_header ul{
	width:1000px;
	margin:0 auto;
}
.nav_header ul li{
	float:left;
	height:40px;
}
.nav_header a{
	width:100px;
	position:relative;
	top:10px;
	border-right:1px solid #522a06;
	text-align: center;
	display:block;
}
.nav_header a:hover{
	color:#f9f603;
	text-decoration: none;
}
.nav_header li{
	list-style: none;
	font-weight: bold;
}
.nav_search #search1{
	height:19px;
	width:100px;
	background-color: #f8f5ee;
	position:relative;

}
#nav_search #search2{
	height:12px;
	width:40px;
	background-color: #000;
	color:#fff;
	border:1px solid #f8f5ee;
	position:relative;

}
#content{
	width:1000px;
	margin:0 auto;
}
.one_top{
	width: 200px;
	height: 270px;
	padding-left: 20px;
}
.one{
	float: left;
	border:1px solid #522a06;
	width: 250px;
	position: relative;
	left: -200px;
	margin-top: 10px;
}
.zi{
	font-size: 30px;
	text-align: center;
	color: red;
	font-weight: bold;
}
.sou{
	line-height: 20px;
	margin: 10px;
	width: 180px;
	border:1px solid #000;
	color: #000;
}
.one_bottom img{
	width: 250px;
	height: 250px;

}
.one_bottom{
	border:1px solid #000;
	margin-top: 30px;
}
.sou1{
	line-height: 20px;
	margin-left: 65px;
	margin-top: 20px;
	width: 80px;
	border:1px solid #000;
	text-align: center;
}
#left{
	width:55%;
	float:left;
	position: relative;
	right:190px;
}
#left1{
	text-align: left;
	margin-top: 10px;
	border:1px solid #522a06;
	width:400px;
	height:300px;
	text-indent: 20px;
}
#left1_header h1{
	text-align: center;
	padding:10px;
	background-image: url(../images/muwentu.jpg);
	width:380px;
	height:17px;
	color:#993300;
}
#book img{
	float:left;
	width:150px;
	height:200px;
	margin-top: 20px;
}
#book p{
	width:250px;
	text-align: center;
	margin-left: 150px;
	padding-top: 20px;
}
#left2{
	width:400px;
	height:240px;
	float:left;
	margin:0 auto;
	margin-top: 10px;
	border:1px solid #522a06;
	text-indent: 20px;
}
#left2_header h1{
	padding:10px;
	color:#993300;
	text-align: center;
	background-image: url(../images/muwentu.jpg);
	width:380px;
	height:15px;
}
#changxiao img{
	width:100px;
	height:150px;
	float:left;
}
#changxiao p{
	margin-left:100px;
	text-align: left;
	margin-top: 15px;
}
#left2 ul li{
	text-align: center; 
	margin-top: 20px;
}
#changxiao li{
	float:left;
	position: relative;
	top:50px;
}
#right{
	margin-top: 10px;
	width:50px;
	height:200px;
	float:left;
	position: relative;
	right:320px;
}
#right1{
	width:500px;
	border:1px solid #522a06;
}
#right1_header h1{
	padding-top: 10px;
	text-align: center;
	background-image: url(../images/muwentu.jpg);
	width:500px;
	height:20px;
	color:#993300;
}
#right1 ul li{
	list-style: none;
	margin-top: 10px;
}
.date{
	float: right;
	position:relative;
}
#right2 {
	float:left;
	width:500px;
	height:420px;
	border:1px solid #522a06;
	margin-top: 10px;
}
#sp img{
	width:500px;
	height:380px;
	float:left;
}
#right2 p{
	margin-top:400px;
	text-align: center;
}
#clear{
	clear:both;
}
#footer{
	height: 105px;
	margin-top: 50px;
	text-align: center;
	margin-right:100px; 
}
#footer ul
{
	width: 600px;
	margin:0 auto;
}
#footer li{
	border-right: 1px solid #000;
	width: 85px;
	text-align: center;
	display: block;
	float: left;
	font-size: 15px;
	color: #B97E25;
}
#footer img{
	position: relative;
	right: 40px;
}